
body {
    background-color: black;
}

h1 {
    color: white;
    }
header {
    display:inline-block;
    background-color: black;
    color: white;
    }

p {
    color: white;
}

.elite {
    width: 600px;
    height: auto;
    float: left;
   } 

.featuredArtist {
    font-size: 1.5em;
    text-align: left;
}
.missionStatement {
    color: white;
}
.pageTitle {
    background-color: black;
    color: white;
    margin-right: 500px;
}

.topnav {
    display: inline-block;
    float: right;
    background-color: black;
    color: white;
}
.topnav a {
    color: white;
    text-align: center;
    padding-left: 10px;
    }

.topnav a:hover {
    color: blue;
}



